<p id="notice"><%= notice %></p>

<p>
  <b>Neha:</b>
  <%= @status.neha %>
</p>

<p>
  <b>Gagan:</b>
  <%= @status.gagan %>
</p>

<p>
  <b>Shelley:</b>
  <%= @status.shelley %>
</p>

<p>
  <b>Pratima:</b>
  <%= @status.pratima %>
</p>

<p>
  <b>Jyoti:</b>
  <%= @status.jyoti %>
</p>

<p>
  <b>Abhinav:</b>
  <%= @status.abhinav %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
